-----BEGIN CERTIFICATE-----
MIIC/jCCAeYCCQCxY9nrV2VnljANBgkqhkiG9w0BAQUFADBBMQswCQYDVQQGEwJE
RTEYMBYGA1UECgwPbWd0Y29tbWVyY2UuY29tMRgwFgYDVQQDDA9tZ3Rjb21tZXJj
ZS5jb20wHhcNMjAwNjE3MTgwMTU4WhcNMjEwNjE3MTgwMTU4WjBBMQswCQYDVQQG
EwJERTEYMBYGA1UECgwPbWd0Y29tbWVyY2UuY29tMRgwFgYDVQQDDA9tZ3Rjb21t
ZXJjZS5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC+YqLLJtKT
+hfZ+bBiroBq7tRJQgHBhrfcR/bXkpf6BnQddh52jO9rjMiqfuvdu9czkAd7ZsQH
dFBpjbwLLTV7ZlPOyW1HPhCnJ/tbzOO7Q6qenntzWGyPQm+eSBhqa6fuqBPW4m/h
5B3m1JsRy8S2D98Ggry5Zmb/L4w9InZNQnTWgQnVrE3fbXe4dQ/ViXX8Z23KsYrm
5lOBNof6gH2Dq6nd7kItNIsWEzHG1m5bW9QWiDoVPHlolTevvHJd3VSFSD/ErOHR
pgDTTvxYGruMCBbJyl0DFBTUdHzTGkMASFA9eDsEWadisSEx7w6mKhg7nlQ4an5x
nqQWTK6Pg3+tAgMBAAEwDQYJKoZIhvcNAQEFBQADggEBAKau32LMUMCRKqwNseeK
gynQLvq5giqQDdfutZNpBQJ0nUV2Dw9gdxJWBRFtLhrOuLLs83zs25nmOlCLUpG/
1B5KpMWdR3LbMf/XZsF71nPobM17cVsj4+g+7A+pPb6+aEvDnKze9tKB5OZJYNJf
KHGHdInW4J2FoLrzqUZ112Sp4cl+YsWq1gV11LngFrOT3CF2O3eVX/fmb4gn/X/c
dXn8UeGz4mWunj8ABFcv1xC4FJjE56b0LCpCdcDnmHjYxnHtnq7VFlJSa4/Oyzri
XWgn66G8r8g08XelSTdVlc4puJKBBCOUj/z0Jwbucik3fk6uduROctcmzJQNks/a
QcU=
-----END CERTIFICATE-----
