USE mysql; ALTER USER 'root'@'localhost' IDENTIFIED BY '{{ aws_rds_master_pass }}';
DELETE FROM mysql.user WHERE User='';
DELETE FROM mysql.user WHERE User='root' AND Host NOT IN ('localhost', '127.0.0.1', '::1');
DROP DATABASE IF EXISTS test;
DELETE FROM mysql.db WHERE Db='test' OR Db='test\\_%';
create database {{ project_admin_name }};
FLUSH PRIVILEGES;