-----BEGIN CERTIFICATE-----
MIIF7zCCA9egAwIBAgIUJnvEBnjRbsom7oIYfEHWgE3qNQ8wDQYJKoZIhvcNAQEL
BQAwgYYxCzAJBgNVBAYTAlhYMRIwEAYDVQQIDAlTdGF0ZU5hbWUxETAPBgNVBAcM
CENpdHlOYW1lMRQwEgYDVQQKDAtDb21wYW55TmFtZTEbMBkGA1UECwwSQ29tcGFu
eVNlY3Rpb25OYW1lMR0wGwYDVQQDDBRDb21tb25OYW1lT3JIb3N0bmFtZTAeFw0y
NDEyMjIxMDAyNTBaFw0zNDEyMjAxMDAyNTBaMIGGMQswCQYDVQQGEwJYWDESMBAG
A1UECAwJU3RhdGVOYW1lMREwDwYDVQQHDAhDaXR5TmFtZTEUMBIGA1UECgwLQ29t
cGFueU5hbWUxGzAZBgNVBAsMEkNvbXBhbnlTZWN0aW9uTmFtZTEdMBsGA1UEAwwU
Q29tbW9uTmFtZU9ySG9zdG5hbWUwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIK
AoICAQDxVR8BIH7oAUUKnNibWefzbp4gQpDx87estgCKj+pD3AwMrBJbYrdvejnQ
OGSHGyrSJxhYkPtLd8rMjCy7fKNQtYt4hpPRUvB0LK6n7hrYHxjR6Ir7RjsYzMfX
JHQD7H4SehtJFLlGDbd3yAJtTmA/N5IaCwMiyMonyKT2yGhX8A5dNVPbSr2GX720
20v+GKCBFYV5CMZHhq7lWwShOVUP1mx02rVELGEAsjzRMijkunlEqR02vT0SQvbz
NJ/VOaKmOs7J47SWiXV5UQKN2xew1bZChbzIPCGwjlKRR1Y/INf3BfXVncrtP/bj
b3apTdk8V4zOF8woW4t4d07pFc8M7sAifsdL2MStKKwiA33QCsBe/7QHmeF/sdWv
x5AG69okQg5v49fZE6TBCrvAbJCrJIhtFMU7aqB5WL6+V73w/l+igcd87QXoKUyc
HuRZ1JqZj9zZaBR+sYIeKIT8rd/517+fnYI5FMs2aXBMtWF1qgj7Mae361bn2J8C
qa0wT9Lz3ZBZAJELhVzNeNDUayuDNHid2+FaYWMovIYref2BkgqekZBcPhDouDUQ
aO3VsIn6owTAsBZea9qALF8euGMCojtXw6FSwBb0pEBO6B+XrPEpR3d1F86npGrM
O9ZtSLzptGQfia/7owi0XWcifgiQbkrGt725u1yEDnZJpxu2WQIDAQABo1MwUTAd
BgNVHQ4EFgQUpR2iFPqaQWk4BwFMCxpWZe/7/WgwHwYDVR0jBBgwFoAUpR2iFPqa
QWk4BwFMCxpWZe/7/WgwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOC
AgEAqEnuUW0WDxdSjahyZ6p99TZvhQUshom1PeaTbQPhfA9xmvz7jCJNGmWTcOt7
TBUGIbILGhchJCyhb1ejgA0uNHXFAkzwGD7Eij3rC614GFSUvWBuLvqxENgXiuxj
d3nmNVRBSEl+xPmlA/Zn/2a0g+okX1V64q0gpenppxU7phMhHAJ2XvDpyydBAuMi
ZtMHrunUjVzE9mh3YFZfDRtLgmp5VZ9FS8k3EHCOYk2rWESostCp660NcDZqew64
NGovoXjQoce2JXFrTt5ZRn0t4wzE7TgWVqhdkSsF4MKzMLl7PZigrYcPQYy57BjC
ssUbRnWZtX45CL51Foms3U3BgBB8qHHf9X8/aia2I9UaRPwglqDk2UjZ+iGUH7GH
04/AoLoTGvMMaio7W1/98yncIwMdokGao9mZICmAcvmtjftyOg4pwmBPjLlqavl5
9NlmPRWjZiMt0wZReGUdoJP82XiNjWGPMn8eKZ7IQq2rqADE/cI8YI7GBQDvbk3+
qMoIbu9mZyx1i8o3QUFvNixXOSIXNq/F7G5/O/dPrPQt73W1u7rVZHy1Dhefa8QK
NuNyOQYLvqRQ5oD1bdc11doBU2TKdBZgXxN4IrOwMB5FGWm/iH4iUN6t13Q/E9nj
xJzHyLPwOkw6pMcWwXZfyXBG01yLA1d0U45PvZ4sz/FwLGo=
-----END CERTIFICATE-----
