-----BEGIN CERTIFICATE-----
MIIF9jCCA96gAwIBAgIUIS6rff6mqxyG1+lM5nIY2JSmVW8wDQYJKoZIhvcNAQEN
BQAwbzELMAkGA1UEBhMCREUxEDAOBgNVBAgMB0dlcm1hbnkxDzANBgNVBAcMBkJl
cmxpbjEQMA4GA1UECgwHZXhhbXBsZTERMA8GA1UECwwIUGVyc29uYWwxGDAWBgNV
BAMMD3Rlc3QuaGFyYm9yLmNvbTAeFw0yMjAzMTYxMzA5NTNaFw0zMjAzMTMxMzA5
NTNaMG8xCzAJBgNVBAYTAkRFMRAwDgYDVQQIDAdHZXJtYW55MQ8wDQYDVQQHDAZC
ZXJsaW4xEDAOBgNVBAoMB2V4YW1wbGUxETAPBgNVBAsMCFBlcnNvbmFsMRgwFgYD
VQQDDA90ZXN0LmhhcmJvci5jb20wggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIK
AoICAQC+CXlplAm1eHLhMqHLVlB8zitz6vC0oXoaPNEB0nwGbPAa4UivsHmXPc+u
msyY7Y/qsuXULE5lEGtqRcQ1dDw5kVX7WBHZjH9QOliPbGu+ggSFDGsDna6cmA3p
z7VYkbNt0SIbOd1e0DeVGguCIMYXSj2VaaIbN3MsqV+uGFld/7nu/MwZUooHz5hF
ZX9eLc7n7UbLK+SLl40rqF6Sva0PnciWhq9Fu9dPL/UworaAHfrxSn2LW6kXbasM
azS6AwtIstR75e4IlXWtFq7IsiGvnYAABJSuEI+fp7qnUIqyaTEqLitE9zoEr8qk
zen615dTKjFvGgksezvlRWp5hAdltUhqMcT/C/6xigDkMjcsUTb7lIeJc+Pd/LX2
hgCiEGQPiUlQsnV6dHa45m8x4mE3UHQci9TtAoAiVHLxJBMDu6ank0YopteGol2Y
Dg7nwrKLr38SnkxOR2BFKSrtv8ClVq1/NFezW7QMizhJfo4UzbSTNOowSQf4Ljl8
pYy9eDY4bRHE95AnGZU+yjFAgEbQfIWSFLq0jMzi8tp7x2f5UFZhcdi8EoxKBAba
8G/K3G2ypyPyHeBR5FEYazKBNUhdBIOSiRomKWWWojvXoCyA2iJCY4wVwhYzrBeI
4+M3IpuNn8ddDKuypS5VvjlBKaapiiPC4Fkcfdu5YfBNUEybCwIDAQABo4GJMIGG
MB8GA1UdIwQYMBaAFFS8kefoEUY4KkwktPkdfhsqVqNbMAkGA1UdEwQCMAAwCwYD
VR0PBAQDAgTwMBMGA1UdJQQMMAoGCCsGAQUFBwMBMDYGA1UdEQQvMC2CD3Rlc3Qu
aGFyYm9yLmNvbYIOdGVzdGhhcmJvci5jb22CCnRlc3RoYXJib3IwDQYJKoZIhvcN
AQENBQADggIBAB0yPzuOYewqyKcFK7s48cSi+yl8BKT7h/ayYR+mDQ0yNSqWFAo/
GJXUNsXpTo9QklMgyf1E5v99uEQK3r7ZN/AgOzJwKCX8arpsjA8eQArhQz2/kKG9
7CPygWZedCXzKfnTgi430SKZRp0ZduHm9f5xx9WdBIGX7okvaf8vyiQ0CGR3HokZ
PlRz4iqY1hEavqX0S0dd1zLNolIxCrIBtv16jCubu216IiEWccAKw8uzHCHgo9uD
Tmzuejueo3ccnWZm9hfOQTxxILLMwVtEeQccPNaEtd5ONXg3Ij/68oKKr3ddvY6b
LTZofDMkBQupUrMreLH4YEa5pvaaBEtfVLlmwaMTOQEm/nGvYDlb0mJTKRsIU9/K
qzDyHLs+oQBZnODZwzdm1kJ/DdvQ9A6yerwF3wV2GSfscau0mkVsZ73ugoTthIwJ
oP42evP0XiwqafosW9J5Ksu2cxun07EWc1C7PFvkm3pud6YeS0rXICtuAQ3Xq2w0
qGWy4yYDpVdFdFolVkAF4CffMX2gUc88MvWu511bc6dhONMKMrBbBXwVtCgR+AQ8
TyOUUv8y125triQcUAfgtewABHCQG687iN/4VmQ/5y6wK73rKEKgOZNv1mHXXrom
5f99IHzmYV2zUW3w1F4rLJAlTkLOIfvvFeNdy4xTippJMVzqkf3KkZvk
-----END CERTIFICATE-----
